
  <div>
		<%=form.label :title,class:'form-label'%><br/>
		<%=form.text_field :title,class:'form-control'%> <br/>

		<%=form.label :text,class:'form-label'%><br/>
		<%=form.text_area :text,class:'form-control',style:"height: 200px"%><br/>

		<%=form.submit nil,class:'btn btn-secondary'%>
  </div>
  