<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="d-flex justify-content-end w-100">
        <%unless user_signed_in?%>
            <%=link_to "Signup",new_user_registration_path, class:"navbar-text p-2"%>
            <%=link_to "Login",new_user_session_path, class:"navbar-text p-2"%>
        <%else%>
          <%=button_to "Logout",destroy_user_session_path, data:{turbo:false}, class:"btn navbar-text p-2",method: :delete%>
        <%end%>
      </div>
    </nav>

      <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>
    <div>
      <%= yield %>
    <div>
  </body>
</html>
