<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light">
  <div class="d-flex justify-content-end w-100">
    <span class="navbar-text p-2">Login</span>
  </div>
</nav>
    <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
